.main {
  display: flex;
  width: 100%;
  height: 100vh;
}

.pattern {
  width: 33%;
  background: var(--pattern-bg);
}

.wrapper__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  max-height: 640px;
  margin: auto;
  padding: 64px;

  border-radius: 10px;
  box-shadow: 0 1px 18px rgb(0 0 0 / 8%), 0 6px 28px rgb(0 0 0 / 12%);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  margin-top: 20px;
}

.wrapper__input {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;

  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 16px;
  color: var(--neutral50);
}

.label {
  margin: 12px 0 8px;
}

.input {
  box-sizing: border-box;
  width: 352px;
  height: 32px;
  margin: 0;
  padding: 6px 26px 6px 12px;
}

.errors__wrapper {
  height: 18px;
}

.errors {
  margin: 0;
  padding: 4px 0 0;

  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 16px;
  color: var(--errors);
}

.errors__wrapper_center {
  align-self: center;
}

.button {
  margin-top: 32px;
}

.password_icon {
  cursor: pointer;
  position: absolute;
  top: 42px;
  right: 6px;
}
