.wrapper {
  display: grid;
  grid-template: 40px auto 50px / 68px auto;
  grid-template-areas:
    'header header'
    'sidebar content'
    'sidebar footer';

  width: 100vw;
  min-height: 100vh;
}

.content {
  grid-area: content;
  margin: 24px 12px;
}
